.profile-img {
  width: 100%;
  display: flex;
  margin: 20px 0;
}

.img-margin {
  margin: auto;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  display: flex;
}

.profile-pic {
  margin: auto;
  border-radius: 50%;
  width: 160px;
  height: 160px;
}

.profile-info {
  margin: auto;
  width: calc(100% - 20px);
  height: 150px;
  display: flex;
}

.container-name-degree {
  border-radius: 10px;
  margin: auto;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
}

.profile-loc-pdf {
  margin: 25px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: calc(100% - 20px);
  height: calc(20% - 20px);
  overflow: hidden;
}

.loc {
  position: relative;
  display: flex;
  margin: 10px 10px;
  padding: 10px;
  width: 70px;
  height: 70px;
  border: 1px solid grey;
  border-radius: 10px;
  overflow: hidden;
}

.pdf {
  position: relative;
  display: flex;
  margin: 10px auto;
  padding: 10px;
  width: 70px;
  height: 70px;
  border: 1px solid grey;
  overflow: hidden;
  border-radius: 10px;
}

.location-icon {
  margin: auto;
  font-size: 30px;
}

.location-text-extra {
  display: none;
  position: absolute;
  margin-top: 8px;
}

.pdf-icon-download,
.pdf-icon-view {
  margin: auto;
  position: absolute;
  display: none;
  border: 1px solid var(--title);
  border-radius: 50%;
  padding: 10px;
  top: -50%;
  transition: all 0.5s ease;
}



.profile-loc-pdf:hover .location-icon {
  transform: translateY(-250%);
  transition: all 0.5s ease-in-out;
}

.profile-loc-pdf:hover .location-text-extra {
  display: block;
  transition: all 0.6s ease;
}

.profile-loc-pdf:hover .pdf-icon-download {
  display: block;
  left: 5%;
  transform: translateY(190%);
  transition: all 0.5s ease-in-out;
}

.profile-loc-pdf:hover .pdf-icon-view {
  display: block;
  left: 55%;
  transform: translateY(190%);
  transition: all 0.5s ease-in-out;
}

.pdf-icon-download:hover {
    background-color: var(--title);
    color: #fff;
    border: 1px solid var(white);
}


.pdf-icon-view:hover {
    background-color: var(--title);
    color: #fff;
    border: 1px solid var(white);
}

.about {
  display: flex;
  margin: 20px auto;
  width: calc(100% - 20px);
  height: calc(32% - 20px);
}

.about-container {
  margin: auto;
  width: 90%;
  height: 90%;
  text-align: center;
}

.about-container h1 {
  padding-top: 10px;
}

.about-container p {
  padding: 10px;
  font-size: 12px;
  height: 70%;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .profile-container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .img-margin {
    width: 200px;
    height: 200px;
  }

  .profile-pic {
    margin: auto;
    border-radius: 50%;
    width: 180px;
    height: 180px;
  }

  .loc {
    width: 70px;
    height: 70px;
    border: 1px solid grey;
    border-radius: 10px;
  }

  .pdf {
    margin: 0;
    width: 70px;
    height: 70px;
    border: 1px solid grey;
    border-radius: 10px;
  }

  .profile-info {
    width: 80%;
    grid-row: 2;
    grid-column: 1;
  }

  .profile-loc-pdf {
    width: 80%;
    height: 50%;
    grid-row: 3;
    grid-column: 1;
  }

  .about {
    margin-top: 15px;
    height: 85%;
  }

  .about-container {
    width: 95%;
  }

  .about-container p {
    font-size: 18px;
    margin: 0;
}
}

@media screen and (max-width: 1120px) {
    .about-container p {
        font-size: 13px;
        margin: auto;
    }
}