.skills-container,
.skills {
  width: calc(100% - 20px);
  height: calc(100% - 30px);
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: space-evenly;
  align-items: center;
}

.skills-container {
  margin: 20px auto;
}

@media screen and (min-width: 768px) {
  .skills-container {
    height: 100%;
    margin: 0 auto;
  }
}
