.timeline-container {
  display: flex;
  margin: 20px auto;
  width: calc(100% - 20px);
  height: 500px;
  overflow: hidden;
}

.timeline-margin {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
}

.timeline-item {
  display: grid;
  grid-template-columns: 1fr 5px 1fr;
  width: 100%;
  height: 32%;
  position: relative;
}

.timeline-orange,
.timeline-green,
.timeline-red {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: gray;
}

.timeline-red::after,
.timeline-orange::after,
.timeline-green::after {
  content: " ";
  position: absolute;
  width: 30px;
  height: 30px;
  top: 90%;
  left: -230%;
  border-radius: 50%;
  background-color: gray;
  z-index: 1;
}

.timeline-orange::before,
.timeline-green::before,
.timeline-red::before {
  content: " ";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  z-index: 2;
  top: 95%;
  left: -4.5px;
}
.timeline-orange::before{
  background-color: var(--orange);
}
.timeline-red::before{
  background-color: var(--red);
}
.timeline-green::before{
  background-color: var(--green);
}

.right {
  grid-column: 3;
  grid-row: 1;
}

.left {
  grid-column: 1;
  grid-row: 1;
}

.timeline-img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  padding: 5px;
  border: 5px solid;
  z-index: auto;
  z-index: 10;
  background-color: var(--main);
  margin: auto;
}

.timeline-box-left {
  position: relative;
  margin-top: 20px;
  width: 80%;
  border-right: 4px solid;
  border-bottom: 4px solid;
  margin-left: 11%;
  z-index: 12;
  background-color: var(--main);
}

.timeline-box-right {
  position: relative;
  margin-top: 20px;
  width: 80%;
  border-left: 4px solid;
  border-bottom: 4px solid;
  margin-left: 5%;
  z-index: 12;
  background-color: var(--main);
}

.border-orange {
  border-color: var(--orange);
}
.border-blue {
  border-color: var(--blue);
}
.border-green {
  border-color: var(--green);
}
.border-red {
  border-color: var(--red);
}

.timeline-year-left {
  color: var(--title);
  background-color: transparent;
  width: max-content;
}

.timeline-year-right {
  padding-left: 5px;
  color: var(--title);
  background-color: transparent;
  width: max-content;
}

.timeline-desc {
  padding-left: 0px;
  font-size: 8px;
  z-index: 20;
}

