.repo-sm {
    width: calc(55% - 10px);
    height: 35%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    margin: 10px auto;
    border-radius: 15px;
}

.repo-btn{
  background-color: var(--title);
  width: 100%;
  border: none;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  grid-row: 4;
  grid-column: 1;
}

.img-prueba {
  width: 50px;
  margin: 30px auto;
  height: 50px;
  grid-row: 1;
  text-align: center;
  justify-content: center;
  align-items: center;
  grid-column: 1;
}

.repo-md {
    width: calc(100% - 10px);
    display: flex;
    flex-direction: column;
    margin: 10px auto;
}

.repo-lg {
  width: calc(50% - 10px);
  height: calc(50% - 10px);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 10px auto;
}

.selected {
    background-color: red;
}

.repo-name {
  text-align: center;
  font-size: 100%;
  max-width: 100%;
  max-height: 100%;
  color: black;
  grid-row: 2;
}



.repo-link {
  font-size: 15px;
  font-style: italic;
  color: grey;
  text-align: center;
  grid-row: 3;
}

.repo-description {
  font-size: 10px;
  text-align: center;
  padding: 10px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.repo-btns {
  grid-row: 3;
  display: flex;
  color: gray;
  width: 100%;
}

.repo-btn-code {
  width: 50%;
  background-color: transparent;
  border: 1px solid gray;
  border-left: 0px;
  border-bottom: 0px;
}

.repo-btn-extra {
  background-color: transparent;
  width: 50%;
  border: 1px solid gray;
  border-right: 0px;
  border-bottom: 0px;
}
.repo-btn-code:hover {
  background-color: var(--title);
  border: 1px solid none;
  color: #ffff;
}
